
*.resources

.DS_Store

*.dll

*.mdb

*.log

*.kmz

*.gpx


*.nupkg

*.nuspec


*.config

*.exe

*.xslt

*.dtd

*.userprefs


*.0

3DRRadio/bin/Debug/ChangeLog.txt

ExtLibs/MetaDataExtractorCSharp240d/bin/Debug/sampleFile.xml
